/nbproject/private/
/app/code/community/Find/
/app/code/community/Phoenix/
/app/code/core/
/app/design/
/app/code/local/
/app/etc/modules/Find_Feed.xml
/app/etc/modules/Mage_Downloadable.xml
/app/etc/modules/Mage_Centinel.xml
/app/etc/modules/Mage_Api.xml
/app/etc/modules/Mage_Compiler.xml
/app/etc/modules/Mage_Widget.xml
/app/etc/modules/Mage_Bundle.xml
/app/etc/modules/Mage_Connect.xml
/app/etc/modules/Mage_Authorizenet.xml
/app/etc/modules/Mage_ImportExport.xml
/app/etc/modules/Mage_PageCache.xml
/app/etc/modules/Phoenix_Moneybookers.xml
/app/etc/modules/Mage_XmlConnect.xml
/app/etc/modules/Mage_All.xml
/app/etc/modules/Mage_Weee.xml
/app/etc/local.xml
/app/etc/config.xml
/app/etc/local.xml.template
/app/etc/local.xml.additional
/app/locale/en_US/
/app/.htaccess
/app/Mage.php
/pkginfo/
/js/
/lib/
/skin/
/media/
/errors/
/shell/
/downloader/
/includes/
/var/.htaccess
/var/session/
/var/log/
/var/locks/
/var/cache/
/.htaccess
/LICENSE_AFL.txt
/LICENSE.txt
/LICENSE.html
/get.php
/php.ini.sample
/cron.php
/favicon.ico
/mage
/install.php
/index.php
/cron.sh
/index.php.sample
/RELEASE_NOTES.txt