/api.php
/app/code/community/Find/
/app/code/community/Phoenix/
/app/code/core/
/app/code/local/
/app/design/adminhtml/default/default/layout/adminnotification.xml
/app/design/adminhtml/default/default/layout/admin.xml
/app/design/adminhtml/default/default/layout/api2.xml
/app/design/adminhtml/default/default/layout/authorizenet.xml
/app/design/adminhtml/default/default/layout/bundle.xml
/app/design/adminhtml/default/default/layout/captcha.xml
/app/design/adminhtml/default/default/layout/catalog.xml
/app/design/adminhtml/default/default/layout/centinel.xml
/app/design/adminhtml/default/default/layout/cms.xml
/app/design/adminhtml/default/default/layout/compiler.xml
/app/design/adminhtml/default/default/layout/connect.xml
/app/design/adminhtml/default/default/layout/currencysymbol.xml
/app/design/adminhtml/default/default/layout/customer.xml
/app/design/adminhtml/default/default/layout/dataflow.xml
/app/design/adminhtml/default/default/layout/downloadable.xml
/app/design/adminhtml/default/default/layout/giftmessage.xml
/app/design/adminhtml/default/default/layout/googleoptimizer.xml
/app/design/adminhtml/default/default/layout/importexport.xml
/app/design/adminhtml/default/default/layout/index.xml
/app/design/adminhtml/default/default/layout/main.xml
/app/design/adminhtml/default/default/layout/moneybookers.xml
/app/design/adminhtml/default/default/layout/newsletter.xml
/app/design/adminhtml/default/default/layout/oauth.xml
/app/design/adminhtml/default/default/layout/pagecache.xml
/app/design/adminhtml/default/default/layout/promo.xml
/app/design/adminhtml/default/default/layout/report.xml
/app/design/adminhtml/default/default/layout/rss.xml
/app/design/adminhtml/default/default/layout/sales.xml
/app/design/adminhtml/default/default/layout/search.xml
/app/design/adminhtml/default/default/layout/tag.xml
/app/design/adminhtml/default/default/layout/widget.xml
/app/design/adminhtml/default/default/layout/xmlconnect.xml
/app/design/adminhtml/default/default/locale/
/app/design/adminhtml/default/default/template/
/app/design/adminhtml/default/find/
/app/design/frontend/base/default/etc/
/app/design/frontend/base/default/layout/authorizenet.xml
/app/design/frontend/base/default/layout/bundle.xml
/app/design/frontend/base/default/layout/captcha.xml
/app/design/frontend/base/default/layout/cataloginventory.xml
/app/design/frontend/base/default/layout/catalog_msrp.xml
/app/design/frontend/base/default/layout/catalogsearch.xml
/app/design/frontend/base/default/layout/catalog.xml
/app/design/frontend/base/default/layout/centinel.xml
/app/design/frontend/base/default/layout/checkout.xml
/app/design/frontend/base/default/layout/cms.xml
/app/design/frontend/base/default/layout/contacts.xml
/app/design/frontend/base/default/layout/core.xml
/app/design/frontend/base/default/layout/customer.xml
/app/design/frontend/base/default/layout/directory.xml
/app/design/frontend/base/default/layout/downloadable.xml
/app/design/frontend/base/default/layout/googleanalytics.xml
/app/design/frontend/base/default/layout/googlecheckout.xml
/app/design/frontend/base/default/layout/googleoptimizer.xml
/app/design/frontend/base/default/layout/moneybookers.xml
/app/design/frontend/base/default/layout/newsletter.xml
/app/design/frontend/base/default/layout/oauth.xml
/app/design/frontend/base/default/layout/pagecache.xml
/app/design/frontend/base/default/layout/page.xml
/app/design/frontend/base/default/layout/payment.xml
/app/design/frontend/base/default/layout/paypaluk.xml
/app/design/frontend/base/default/layout/paypal.xml
/app/design/frontend/base/default/layout/persistent.xml
/app/design/frontend/base/default/layout/poll.xml
/app/design/frontend/base/default/layout/productalert.xml
/app/design/frontend/base/default/layout/reports.xml
/app/design/frontend/base/default/layout/review.xml
/app/design/frontend/base/default/layout/rss.xml
/app/design/frontend/base/default/layout/sales/
/app/design/frontend/base/default/layout/sales.xml
/app/design/frontend/base/default/layout/sendfriend.xml
/app/design/frontend/base/default/layout/shipping.xml
/app/design/frontend/base/default/layout/tag.xml
/app/design/frontend/base/default/layout/weee.xml
/app/design/frontend/base/default/layout/wishlist.xml
/app/design/frontend/base/default/layout/xmlconnect.xml
/app/design/frontend/base/default/template/authorizenet/
/app/design/frontend/base/default/template/bundle/
/app/design/frontend/base/default/template/callouts/
/app/design/frontend/base/default/template/captcha/
/app/design/frontend/base/default/template/catalog/
/app/design/frontend/base/default/template/cataloginventory/
/app/design/frontend/base/default/template/catalogsearch/
/app/design/frontend/base/default/template/centinel/
/app/design/frontend/base/default/template/checkout/
/app/design/frontend/base/default/template/cms/
/app/design/frontend/base/default/template/contacts/
/app/design/frontend/base/default/template/core/
/app/design/frontend/base/default/template/customer/
/app/design/frontend/base/default/template/directory/
/app/design/frontend/base/default/template/downloadable/
/app/design/frontend/base/default/template/email/
/app/design/frontend/base/default/template/giftmessage/
/app/design/frontend/base/default/template/googleanalytics/
/app/design/frontend/base/default/template/googlecheckout/
/app/design/frontend/base/default/template/moneybookers/
/app/design/frontend/base/default/template/newsletter/
/app/design/frontend/base/default/template/oauth/
/app/design/frontend/base/default/template/page/
/app/design/frontend/base/default/template/pagecache/
/app/design/frontend/base/default/template/paygate/
/app/design/frontend/base/default/template/payment/
/app/design/frontend/base/default/template/paypal/
/app/design/frontend/base/default/template/paypaluk/
/app/design/frontend/base/default/template/persistent/
/app/design/frontend/base/default/template/poll/
/app/design/frontend/base/default/template/productalert/
/app/design/frontend/base/default/template/rating/
/app/design/frontend/base/default/template/reports/
/app/design/frontend/base/default/template/review/
/app/design/frontend/base/default/template/rss/
/app/design/frontend/base/default/template/sales/
/app/design/frontend/base/default/template/sendfriend/
/app/design/frontend/base/default/template/shipping/
/app/design/frontend/base/default/template/tag/
/app/design/frontend/base/default/template/tax/
/app/design/frontend/base/default/template/wishlist/
/app/design/frontend/base/default/template/xmlconnect/
/app/design/frontend/default/
/app/design/install/
/app/etc/config.xml
/app/etc/local.xml
/app/etc/local.xml.additional
/app/etc/local.xml.template
/app/etc/modules/Find_Feed.xml
/app/etc/modules/Mage_All.xml
/app/etc/modules/Mage_Api2.xml
/app/etc/modules/Mage_Api.xml
/app/etc/modules/Mage_Authorizenet.xml
/app/etc/modules/Mage_Bundle.xml
/app/etc/modules/Mage_Captcha.xml
/app/etc/modules/Mage_Centinel.xml
/app/etc/modules/Mage_Compiler.xml
/app/etc/modules/Mage_Connect.xml
/app/etc/modules/Mage_CurrencySymbol.xml
/app/etc/modules/Mage_Downloadable.xml
/app/etc/modules/Mage_ImportExport.xml
/app/etc/modules/Mage_Oauth.xml
/app/etc/modules/Mage_PageCache.xml
/app/etc/modules/Mage_Persistent.xml
/app/etc/modules/Mage_Weee.xml
/app/etc/modules/Mage_Widget.xml
/app/etc/modules/Mage_XmlConnect.xml
/app/etc/modules/Phoenix_Moneybookers.xml
/app/.htaccess
/app/locale/en_US/
/app/Mage.php
/cron.php
/cron.sh
*.diff
/.directory
/downloader/
/errors/
/favicon.ico
/get.php
/.htaccess
/.htaccess.sample
/.idea
/includes/
/index.php
/index.php.sample
/install.php
/js/
/lib/
/LICENSE_AFL.txt
/LICENSE.html
/LICENSE.txt
/mage
/media/
/nbproject/
/php.ini.sample
/.phpstorm.meta.php
/pkginfo/
/RELEASE_NOTES.txt
/shell/
/skin/
/test/selenium/constants.php
/var/cache/
/var/.htaccess
/var/locks/
/var/log/
/var/package/
/var/session
